._ {
  animation: life 2s ease 0s infinite normal forwards;
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: white;
}

.IconStar {
  fill: white;
}

@keyframes life {
  0% {
    transform: scale(1);
    filter: blur(4px);
  }
  50% {
    transform: scale(0.2);
    filter: blur(4px);
  }
  100% {
    transform: scale(1);
    filter: blur(4px);
  }
}